<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'base/js.html' %}
<div>
    <span id="asd">12</span>
    <button type="button" onclick="asd()">1223</button>
</div>
</body>
</html>
<script type="application/javascript">
    function asd() {
        $.ajax({
            url: 'http://127.0.0.1:8888/a',
            {#data: data,#}
            success: function (res) {
                console.log(res.b);
                if($('#asd').html() == '123'){
                    $('#asd').html('12')
                }
                else {
                    $('#asd').html(res.b)
                }
            },
            dataType: "json"
        });
    }
</script>
