<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'base/js.html' %}
<div>
    <span id="asd">----》</span>
    <button type="button" onclick="asd()">点一下试试</button>
</div>
</body>
</html>
<script type="application/javascript">
    var a ;
    function asd() {
        $.ajax({
            url: 'http://sorke.f3322.net:180/a',
            {#data: data,#}
            success: function (res) {
                console.log(res.b);
                if($('#asd').html() == '123'){
                    $('#asd').html('成功获取')
                }
                else {
                    $('#asd').html(res.b);
                    a = res.b
                }
            },
            dataType: "json"
        });
    }

</script>
